# EditorConfig Saves Developers' Lives: http://EditorConfig.org

# This is the top-most EditorConfig file
root = true

# Unix-style newlines for all!
[**]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

#2 space indents for all
[**.{js, json, html, scss, jsx]
indent_style = space
indent_size = 2
