.modal-button{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  padding: 5px 15px;
  background:$CK_blue;
  height: 30px;
  font-size: 10pt;
  outline: none;
  color: $white;
  margin: 50px 80px 50px 0;
  float:right;
  clear: none;
    &:hover{
      background: darken($CK_blue, 20%);
    }
}
.modal-active .modal-button, .modal-active .modal-button:hover{
  background:$CK_orange;
}
