.search{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 50px 0 50px 80px;
  float:left;
  .search-input{
    width: 300px;
    height: 30px;
    background: $white;
    border: 1px solid black;
    font-size: 10pt;
    float: left;
    padding-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .right-button{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    border: none;
    background:$CK_blue;
    height: 30px;
    width: 45px;
    color: $white;
    font-size: 10pt;
    top:0;
    outline: none;
    opacity: 1;
    margin-left: -45px;

    &:hover{
      background: darken($CK_blue, 20%);
    }
  }
}
.modal-active .right-button, .modal-active .right-button:hover{
  background:$white;
  color: $CK_gray;
  border:1px solid $black;
  border-left: none;
}
